
.myContainer {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory; /* 'y' for vertical scrolling */
    overflow-y: scroll; /* Enable scrolling */
    scroll-behavior: smooth;
  }
section{
    width: 100%;
    height: 100vh; 
    scroll-snap-align: center; 
  }
.custom-img-size {
    max-height: 500px; /* Adjust as needed */
    height: auto;
    width: auto;
}
.custom-border{
    border-radius: 25%;
}

.background{
    background-image: url(bg2.png);
    background-size: cover;
    height: 400px;
    
    
    
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    width: 100%; /* Or any color you prefer */
    z-index: 1000; /* Ensures the header stays above other content */
    /* Additional styling like padding, border, etc. */
}

main {
    padding-top: 10000px; /* Adjust this value based on the height of your header */
}
